extends layout

block content
  h1= title
  p Welcome to #{title}
  div.remark
     p Pug rocks!
  ul
    li
      a Home
    li
      a Page 1
    li
      a Page 2
  input(type="password" name ="inpPwd")
  - const myClasses = ["c2","c3", "c4"]
  div.my-div(class=myClasses)
  - const myStyles = {"color" : "red", "backgrou-color": "blue"}
  div(sytle=myStyles)
  - const myAttributes = {"src":""}
  p.big-para.
    Here is some More text 



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>